<%- include("header") %>

    <div class="box" id="heading">

        <h1>
            <%=listTittle %>
        </h1>

    </div>


    <div class="box">

        <% for (var i=0;i<adding.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= adding[i] %>
                </p>
            </div>

            <% } %>
                <form class="item" action="/" method="post">
                    <input type="text" name="Newitem" placeholder="New Item" autocomplete="off">
                    <button name="button" type="submit" value=<%=listTittle %>>+</button>
                </form>
    </div>

<%- include("footer") %>